# Lectura de archivos en Python

## Índice
1. [Manejo de archivos en Python](#manejo)
2. [Datos estructurados](#estru)
3. [Datos semiestructurados](#semi)
4. [Datos desestructurados](#deses)
5. [FTP](#ftp)

<a id="manejo"></a>
## Manejo de archivos en Python

Las principales funciones para el manejo de archivos en python son: `open()`, `close()`, `read()` y `write()`.

`open()` permite leer y escribir archivos. El primer argumento es el nombre del archivo y el segundo puede tomar los siguientes valores:
* `r`: abre el fichero en modo de solo lectura (modo por defecto)
* `r+`: abre el fichero en modo lectura y escritura
* `w`: abre el fichero en modo de solo escritura
* `a`: abre el fichero para incluir nueva información sobre él 
* `w+` y `a+`: Lectura y escritura (`a+` añade datos al final del archivo mientras que `w+` sobreescribe)

In [4]:
# Abro el fichero archivo.txt, que en caso de no existir, será creado en el directorio actual
f = open('archivo.txt', 'w')

NOTA: Para conocer el directorio actual, podemos utilizar el comando `pwd`

In [1]:
pwd

'/Users/pau/repo_pau/master_SAN'

`write()`

In [16]:
# Escritura de datos con la función write()
f.write(' estoy escribiendo desde VSCode, a dia 7 de septiembre de 2023, sobreescribe?')

77

In [17]:
# Cierre del archivo
f.close()

<a id="estru"></a>
## Datos estructurados

Los archivos de datos estructurados consisten principalmente en archivos csv y Excel

### CSV
Los archivos **CSV** (comma-separated values) contienen información organizada por separadores. La librería pandas permite leer fácilmente este tipo de archivos  
<img src = "https://www.todavianose.com/wp-content/uploads/2018/04/file-icon-csv.png" width=10%>

In [4]:
import pandas as pd

In [7]:
pwd

'/Users/pau/repo_pau/master_SAN'

In [35]:
# Leemos el fichero csv_example.csv
datos = pd.read_csv('files/csv_example.csv',sep=';', header = None,
            names = ['Fecha','Evento','IdPais','IdUsuario','Fuente','Tema'])
datos.head()
datos

,Fecha,Evento,IdPais,IdUsuario,Fuente,Tema
0,2018-01-01 00:01:01,read,country_7,2458151261,SEO,North America
1,2018-01-01 00:03:20,read,country_7,2458151262,SEO,South America
2,2018-01-01 00:04:01,read,country_7,2458151263,AdWords,Africa
3,2018-01-01 00:04:02,read,country_7,2458151264,AdWords,Europe
4,2018-01-01 00:05:03,read,country_8,2458151265,Reddit,North America
...,...,...,...,...,...,...
1790,2018-01-01 23:57:14,read,country_2,2458153051,AdWords,North America
1791,2018-01-01 23:58:33,read,country_8,2458153052,SEO,Asia
1792,2018-01-01 23:59:36,read,country_6,2458153053,Reddit,Asia
1793,2018-01-01 23:59:36,read,country_7,2458153054,AdWords,Europe
1794,2018-01-01 23:59:38,read,country_5,2458153055,Reddit,Asia

Podemos conocer los valores únicos de una columna con la función `unique()`

In [17]:
datos.Fuente.unique()

array(['SEO', 'AdWords', 'Reddit'], dtype=object)

In [19]:
datos.Fuente.value_counts(),datos.Fuente.value_counts(sort=False)

(Fuente
 Reddit     949
 AdWords    500
 SEO        346
 Name: count, dtype: int64,
 Fuente
 SEO        346
 AdWords    500
 Reddit     949
 Name: count, dtype: int64)

### Excel

Para leer archivos Excel, podemos utilizar la función `read_excel()` de la librería pandas. Para ello necesitamos instalar la librería `xlrd`:  
`conda install -c anaconda xlrd`

In [34]:
# Leemos el fichero excel_example.xlsx
usuarios = pd.read_excel('files/excel_example.xlsx')
usuarios.head()
usuarios

         id_user  age
0     2458151261   22
1     2458151262   34
2     2458151263   22
3     2458151264   57
4     2458151265   28
...          ...  ...
1790  2458153051   39
1791  2458153052   66
1792  2458153053   47
1793  2458153054   38
1794  2458153055   67

[1795 rows x 2 columns]

In [37]:
# Unión de dataframes
datos_all = datos.merge(usuarios, left_on = 'IdUsuario', right_on = 'id_user')

In [48]:
datos_all[['Tema','age']].groupBy

               Tema  age
0     North America   22
1     South America   34
2            Africa   22
3            Europe   57
4     North America   28
...             ...  ...
1790  North America   39
1791           Asia   66
1792           Asia   47
1793         Europe   38
1794           Asia   67

[1795 rows x 2 columns]

In [50]:
# Calculamos la edad media en función del Tema

edad_media = datos_all[['Tema','age']].groupby('Tema', as_index=False).agg('mean')
edad_media

            Tema        age
0         Africa  42.640000
1           Asia  43.119940
2      Australia  43.619835
3         Europe  43.099379
4  North America  44.030675
5  South America  43.688034

In [53]:
# Guardamos el resultado en csv
edad_media.to_csv('edad_media.csv')
edad_media.to_excel('edad_media.xlsx')

In [56]:
pd.read_csv('edad_media.csv')

   Unnamed: 0           Tema                 age
0           0         Africa               42.64
1           1           Asia   43.11994002998501
2           2      Australia    43.6198347107438
3           3         Europe  43.099378881987576
4           4  North America  44.030674846625764
5           5  South America   43.68803418803419
6           6          hello               hello

<a id="semi"></a>
## Datos semiestructurados

Los formatos más utilizados son XML y JSON

### XML
El formato **XML** (eXtensible Markup Language) es parecido al HTML, pero es más estructurado.
<img src="https://docs.adaptive-vision.com/current/studio/img/manual/XmlDescription.png">

 Los archivos XML forman una estructura de tipo árbol
<img src="https://www.cdn.geeksforgeeks.org/wp-content/uploads/parsing-XML.gif">

Vamos a leer el archivo XML cd_catalog con la librería `ElementTree`

In [57]:
import xml.etree.ElementTree as ET

Esta librería trata el XML como si fuese un árbol. En este formato de árbol, disponemos de diversos métodos con los que podemos extraer partes del XML. 

* `tag` muestra el texto dentro de la etiqueta
* `attrib` muestra los atributos de la etiqueta
* `text` muestra el texto del nodo
* La función `iter()` permite conocer la estructura del XML
* La función `find()` busca en el XML y devuelve el elemento que coincide con la etiqueta especificada.  
* La función `findall()` devuelve todos los elementos con cierta etiqueta

In [75]:
tree = ET.parse('files/cd_catalog.xml')
arbol = tree.getroot()
arbol.tag, arbol.iter()

('CATALOG', <_elementtree._element_iterator at 0x1301ae220>)

In [77]:
# Para conocer todos los elementos del árbol
for elemen in arbol.iter():
    print( elemen.tag )

CATALOG
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR

In [92]:
for hijo in arbol:
    print(hijo.attrib)

{'id': '1'}
{'id': '2'}
{'id': '3'}
{'id': '4'}
{'id': '5'}
{'id': '6'}
{'id': '7'}
{'id': '8'}
{'id': '9'}
{'id': '10'}
{'id': '11'}
{'id': '12'}
{'id': '13'}
{'id': '14'}
{'id': '15'}
{'id': '16'}
{'id': '17'}
{'id': '18'}
{'id': '19'}
{'id': '20'}
{'id': '21'}
{'id': '22'}
{'id': '23'}
{'id': '24'}
{'id': '25'}
{'id': '99'}

In [97]:
for i in tree.iter():
    print(i.tag)

#print( 'Número de discos:', len(lst) )

CATALOG
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR
CD
TITLE
ARTIST
COUNTRY
COMPANY
PRICE
YEAR

In [112]:
for h in tree.findall('CD'):
    print('\r')
    print(h.find('YEAR').text)
    print(h.find('COMPANY').text)

1985
Columbia

1988
CBS Records

1982
RCA

1990
Virgin records

1997
BMG

1998
Polydor

1973
CBS

1990
Pickwick

1996
Polydor

1987
Atlantic

1995
Mega

1999
Grammy

1995
Mucik Master

1997
Columbia

1971
Polydor

1996
WEA

1990
Island

1988
A and M

1987
Siren

1983
Capitol

1983
Medley

1991
DECCA

1968
Stax Records

1985
Elektra

1987
London

1987
EMI

### <span style="color:red">**Do it yourself**</span> 
Lee el archivo `movies.xml`. ¿Cuál es la estructura del XML en forma de árbol? ¿Cuántas películas hay? ¿Qué generos distintos hay? ¿Cuáles es la película más antigua y la más reciente?

### JSON

<img src='https://image.flaticon.com/icons/svg/136/136525.svg' width=10%>

**JSON** (JavaScript Object Notation) es un formato para el intercambios de datos. Un objeto json se forma con pares atributo-valor, éstos deben estar encerrados entre llaves { , } que es lo que definen el inicio y el fin del objeto.
Una de las mayores ventajas que tiene el uso de JSON es que puede ser leído por cualquier lenguaje de programación. En Python podemos utilizar la librería `json`, que trata los ficheros como combinaciones de listas y diccionarios

In [126]:

import json
f = open('files/data.json','r')
fichero = f.read()

info = json.loads(fichero)
info, type(info)

for item in info:
    print('\r')
    print ('Id:',item['id'])
    print ('Nombre:',item['nm'])
    print ('Partido:',item['pp'])
    print ('año:',item['tm'])

Id: 1
Nombre: George Washington
Partido: None, Federalist
año: 1789-1797

Id: 2
Nombre: John Adams
Partido: Federalist
año: 1797-1801

Id: 3
Nombre: Thomas Jefferson
Partido: Democratic-Republican
año: 1801-1809

Id: 4
Nombre: James Madison
Partido: Democratic-Republican
año: 1809-1817

Id: 5
Nombre: James Monroe
Partido: Democratic-Republican
año: 1817-1825

Id: 6
Nombre: John Quincy Adams
Partido: Democratic-Republican
año: 1825-1829

Id: 7
Nombre: Andrew Jackson
Partido: Democrat
año: 1829-1837

Id: 8
Nombre: Martin van Buren
Partido: Democrat
año: 1837-1841

Id: 9
Nombre: William H. Harrison
Partido: Whig
año: 1841

Id: 10
Nombre: John Tyler
Partido: Whig
año: 1841-1845

Id: 11
Nombre: James K. Polk
Partido: Democrat
año: 1845-1849

Id: 12
Nombre: Zachary Taylor
Partido: Whig
año: 1849-1850

Id: 13
Nombre: Millard Fillmore
Partido: Whig
año: 1850-1853

Id: 14
Nombre: Franklin Pierce
Partido: Democrat
año: 1853-1857

Id: 15
Nombre: James Buchanan
Partido: Democrat
año: 1857-1861

Id: 16
Nombre: Abraham Lincoln
Partido: Republican
año: 1861-1865

Id: 17
Nombre: Andrew Johnson
Partido: National Union
año: 1865-1869

Id: 18
Nombre: Ulysses S. Grant
Partido: Republican
año: 1869-1877

Id: 19
Nombre: Rutherford Hayes
Partido: Republican
año: 1877-1881

Id: 20
Nombre: James Garfield
Partido: Republican
año: 1881

Id: 21
Nombre: Chester Arthur
Partido: Republican
año: 1881-1885

Id: 22
Nombre: Grover Cleveland
Partido: Democrat
año: 1885-1889

Id: 23
Nombre: Benjamin Harrison
Partido: Republican
año: 1889-1893

Id: 24
Nombre: Grover Cleveland
Partido: Democrat
año: 1893-1897

Id: 25
Nombre: William McKinley
Partido: Republican
año: 1897-1901

Id: 26
Nombre: Theodore Roosevelt
Partido: Republican
año: 1901-1909

Id: 27
Nombre: William Taft
Partido: Republican
año: 1909-1913

Id: 28
Nombre: Woodrow Wilson
Partido: Democrat
año: 1913-1921

Id: 29
Nombre: Warren Harding
Partido: Republican
año: 1921-1923

Id: 30
Nombre: Calvin Coolidge
Partido: Republican
año: 1923-1929

Id: 31
Nombre: Herbert C. Hoover
Partido: Republican
año: 1929-1933

Id: 32
Nombre: Franklin Delano Roosevelt
Partido: Democrat
año: 1933-1945

Id: 33
Nombre: Harry S Truman
Partido: Democrat
año: 1945-1953

Id: 34
Nombre: Dwight David Eisenhower
Partido: Republican
año: 1953-1961

Id: 35
Nombre: John Fitzgerald Kennedy
Partido: Democrat
año: 1961-1963

Id: 36
Nombre: Lyndon Baines Johnson
Partido: Democrat
año: 1963-1969

Id: 37
Nombre: Richard Milhous Nixon
Partido: Republican
año: 1969-1974

Id: 38
Nombre: Gerald R. Ford
Partido: Republican
año: 1974-1977

Id: 39
Nombre: Jimmy Carter
Partido: Democrat
año: 1977-1981

Id: 40
Nombre: Ronald Wilson Reagan
Partido: Republican
año: 1981-1989

Id: 41
Nombre: George H. W. Bush
Partido: Republican
año: 1989-1993

Id: 42
Nombre: Bill Clinton
Partido: Democrat
año: 1993-2001

Id: 43
Nombre: George W. Bush
Partido: Republican
año: 2001-2009

Id: 44
Nombre: Barack Obama
Partido: Democrat
año: 2009-2017

Id: 45
Nombre: Donald Trump
Partido: Republican
año: 2017-

El método `DataFrame.from_dict` de la librería pandas nos permite transformar diccionarios a tablas

In [207]:
info

{'person': {'name': 'Elizabeth',
  'children': [{'name': 'Charles',
    'children': [{'name': 'William',
      'children': [{'name': 'George'}, {'name': 'Charlotte'}]},
     {'name': 'Harry'}]}]}}

In [215]:
df = pd.DataFrame.from_dict(info)
df

                                                     person
children  [{'name': 'Charles', 'children': [{'name': 'Wi...
name                                              Elizabeth

Guardamos la tabla anterior en formato CSV. Compara los tamaños de ambos formatos

In [130]:
df.to_csv('csv_presidentes.csv')

NOTA: Los formatos JSON y XML son complementarios

<img src='https://aukera.es/blog/imagenes/tabla-codigo.png' width=55%>

Los formatos CSV son en general más compactos que los formatos XML y JSON, siendo esta su principal ventaja. Por otro lado, CSV es el formato menos versátil y no permite crear jerarquías en los datos. Por ejemplo, los siguientes datos contienen jerarquías y es más difícil de plasmar en una tabla:

```json
[
 {
  "student_id":1,
  "age":12,
  "subjects":{
   "mathematics":{
    "scores":[7,8,7,10],
    "final_score":8
   },
   "biology":{
    "scores":[6,6,5,7],
    "final_score":6
   }
  }
 }
]
```

En general, cuando trabajemos con datos tabulares, es recomendable utilizar el formato CSV

La estructura de un JSON puede ser bastante compleja. Es recomendable el uso de webs como [codebeautify.org](http://codebeautify.org) para representar los JSON en forma de árbol.  

Ejemplo: Accede al príncipe Harry en el archivo `data2.json`

In [151]:
f = open('files/data2.json')
info = json.loads(f.read())
info,print( info['person']['children'][0]['children'][1]['name'] )

Harry

({'person': {'name': 'Elizabeth',
   'children': [{'name': 'Charles',
     'children': [{'name': 'William',
       'children': [{'name': 'George'}, {'name': 'Charlotte'}]},
      {'name': 'Harry'}]}]}},
 None)

<a id="deses"></a>
## Datos desestructurados

Los datos no estructurados se caracterizan por no tener un formato específico.
Se almacenan en múltiples formatos como documentos PDF o Word, correos electrónicos, ficheros multimedia de imagen, audio o video...

### TXT

In [160]:
text_file = open('files/mbox.txt')
lines = text_file.read()

Una forma de procesar cadenas de texto es a través de expresiones regulares. En python podemos utilizar la librería `re` y la función `findall()`
```
BASIC SYNTAX

.             One character except new line
\.            A period. \ escapes a special character.
\d            One digit
\D            One non-digit
\w            One word character including digits
\W            One non-word character
\s            One whitespace
\S            One non-whitespace
\b            Word boundary
\n            Newline
\t            Tab

MODIFIERS

$             End of string
^             Start of string
ab|cd         Matches ab or de.
[ab-d]	    One character of: a, b, c, d
[^ab-d]	   One character except: a, b, c, d
()            Items within parenthesis are retrieved
(a(bc))       Items within the sub-parenthesis are retrieved

REPETITIONS

[ab]{2}       Exactly 2 continuous occurrences of a or b
[ab]{2,5}     2 to 5 continuous occurrences of a or b
[ab]{2,}      2 or more continuous occurrences of a or b
+             One or more
*             Zero or more
?             0 or 1
(?:           group but don't capture
```

In [170]:
# Obtenemos las cuentas de email del archivo txt
import re
pattern = '([a-z0-9]\S*)@(\S*[a-z])'

In [172]:
# Lo guardamos en una tabla con dos columnas: nombre y dominio
extract = re.findall(pattern, lines, flags = re.IGNORECASE)

In [173]:
pd.DataFrame(extract, columns = ['nombre','dominio'])

                          nombre                  dominio
0               stephen.marquard                uct.ac.za
1                     postmaster  collab.sakaiproject.org
2    200801051412.m05ECIaH010327  nakamura.uits.iupui.edu
3                         source  collab.sakaiproject.org
4                         source  collab.sakaiproject.org
..                           ...                      ...
331                         cwen                iupui.edu
332                       source  collab.sakaiproject.org
333                         cwen                iupui.edu
334                         cwen                iupui.edu
335                     wagnermr                iupui.edu

[336 rows x 2 columns]

### <span style="color:red">**Do it yourself**</span> 
Obtén los valores de confianza y probabilidad de spam con otra expresión regular
```
X-DSPAM-Confidence: 0.8475  
X-DSPAM-Probability: 0.0000
```

Calcula el valor medio

In [185]:
pattern2 = '[0-9]{1}\.[0-9]{4}'
re.findall(pattern2, lines, flags = re.IGNORECASE)

['1.2006',
 '1.2006',
 '0.8475',
 '0.0000',
 '1.2006',
 '1.2006',
 '0.6178',
 '0.0000',
 '4.2548',
 '1.2006',
 '1.2006',
 '0.6961',
 '0.0000',
 '1.2006',
 '1.2006',
 '0.7565',
 '0.0000',
 '4.1590',
 '1.2006',
 '1.2006',
 '0.7626',
 '0.0000',
 '1.5278',
 '1.2006',
 '1.2006',
 '0.7556',
 '0.0000',
 '2.8275',
 '6.9904',
 '1.2006',
 '1.2006',
 '0.7002',
 '0.0000',
 '3.6469',
 '1.2006',
 '1.2006',
 '0.7615',
 '0.0000',
 '1.2006',
 '1.2006',
 '0.7601',
 '0.0000',
 '2.3084',
 '1.2006',
 '1.2006',
 '0.7605',
 '0.0000',
 '1.2006',
 '1.2006',
 '0.6959',
 '0.0000',
 '7.3435',
 '0.2301',
 '1.2006',
 '1.2006',
 '0.7606',
 '0.0000',
 '1.2006',
 '1.2006',
 '0.7559',
 '0.0000',
 '1.2006',
 '1.2006',
 '0.7605',
 '0.0000',
 '1.2006',
 '1.2006',
 '0.6932',
 '0.0000',
 '7.5237',
 '1.2006',
 '1.2006',
 '0.7558',
 '0.0000',
 '9.3263',
 '1.2006',
 '1.2006',
 '0.6526',
 '0.0000',
 '0.2405',
 '1.2006',
 '1.2006',
 '0.6948',
 '0.0000',
 '2.1025',
 '1.2006',
 '1.2006',
 '0.6528',
 '0.0000',
 '1.2006',
 '1.2006',
 '0.7002',
 '0.0000',
 '3.3041',
 '1.2006',
 '1.2006',
 '0.7554',
 '0.0000',
 '8.3256',
 '1.2006',
 '1.2006',
 '0.6956',
 '0.0000',
 '6.1634',
 '1.2006',
 '1.2006',
 '0.6959',
 '0.0000',
 '1.2006',
 '1.2006',
 '0.7556',
 '0.0000',
 '4.2660',
 '1.2006',
 '1.2006',
 '0.9846',
 '0.0000',
 '1.2006',
 '1.2006',
 '0.8509',
 '0.0000',
 '8.3038',
 '1.2006',
 '1.2006',
 '0.9907',
 '0.0000']

<a id="ftp"></a>
## FTP

FTP (*File Transfer Protocol*) es un protocolo que permite traspasar archivos online. En Python, podemos utilizar FTP con la librería `ftplib`. Vamos a conectarnos a un servidor FTP utilizando la función `FTP()`, cuyos argumentos son:  
* Nombre del servidor: `f31-preview.runhosting.com` 
* Usuario:  `4009006_DATOS`
* Contraseña: `Rafa9999`

In [186]:
import ftplib

In [187]:
ftp = ftplib.FTP('f31-preview.runhosting.com',"4009006_DATOS","Rafa9999")

In [188]:
ftp.dir()

drwxr-xr-x   2 4009006_DATOS 1111           61 Dec 16  2021 .
drwxr-xr-x   2 4009006_DATOS 1111           61 Dec 16  2021 ..
-rw-r--r--   1 4009006_DATOS 1111        33182 Dec 16  2021 books.xml
-rw-r--r--   1 4009006_DATOS 1111         3841 Dec 16  2021 colors.json
-rw-r--r--   1 4009006_DATOS 1111       763509 May  3  2022 OptaF24.xml

In [190]:
# Descargamos el archivo colors.json
filename = 'colors.json'
ftp.retrbinary('RETR '+filename, open (filename,'wb').write)

'226 Transfer complete'

In [211]:
import json

f = open('colors.json', 'r')
colores = json.loads(f.read())
type(colores),colores

(dict,
 {'aliceblue': '#f0f8ff',
  'antiquewhite': '#faebd7',
  'aqua': '#00ffff',
  'aquamarine': '#7fffd4',
  'azure': '#f0ffff',
  'beige': '#f5f5dc',
  'bisque': '#ffe4c4',
  'black': '#000000',
  'blanchedalmond': '#ffebcd',
  'blue': '#0000ff',
  'blueviolet': '#8a2be2',
  'brown': '#a52a2a',
  'burlywood': '#deb887',
  'cadetblue': '#5f9ea0',
  'chartreuse': '#7fff00',
  'chocolate': '#d2691e',
  'coral': '#ff7f50',
  'cornflowerblue': '#6495ed',
  'cornsilk': '#fff8dc',
  'crimson': '#dc143c',
  'cyan': '#00ffff',
  'darkblue': '#00008b',
  'darkcyan': '#008b8b',
  'darkgoldenrod': '#b8860b',
  'darkgray': '#a9a9a9',
  'darkgreen': '#006400',
  'darkgrey': '#a9a9a9',
  'darkkhaki': '#bdb76b',
  'darkmagenta': '#8b008b',
  'darkolivegreen': '#556b2f',
  'darkorange': '#ff8c00',
  'darkorchid': '#9932cc',
  'darkred': '#8b0000',
  'darksalmon': '#e9967a',
  'darkseagreen': '#8fbc8f',
  'darkslateblue': '#483d8b',
  'darkslategray': '#2f4f4f',
  'darkslategrey': '#2f4f4f',
  'darkturquoise': '#00ced1',
  'darkviolet': '#9400d3',
  'deeppink': '#ff1493',
  'deepskyblue': '#00bfff',
  'dimgray': '#696969',
  'dimgrey': '#696969',
  'dodgerblue': '#1e90ff',
  'firebrick': '#b22222',
  'floralwhite': '#fffaf0',
  'forestgreen': '#228b22',
  'fuchsia': '#ff00ff',
  'gainsboro': '#dcdcdc',
  'ghostwhite': '#f8f8ff',
  'goldenrod': '#daa520',
  'gold': '#ffd700',
  'gray': '#808080',
  'green': '#008000',
  'greenyellow': '#adff2f',
  'grey': '#808080',
  'honeydew': '#f0fff0',
  'hotpink': '#ff69b4',
  'indianred': '#cd5c5c',
  'indigo': '#4b0082',
  'ivory': '#fffff0',
  'khaki': '#f0e68c',
  'lavenderblush': '#fff0f5',
  'lavender': '#e6e6fa',
  'lawngreen': '#7cfc00',
  'lemonchiffon': '#fffacd',
  'lightblue': '#add8e6',
  'lightcoral': '#f08080',
  'lightcyan': '#e0ffff',
  'lightgoldenrodyellow': '#fafad2',
  'lightgray': '#d3d3d3',
  'lightgreen': '#90ee90',
  'lightgrey': '#d3d3d3',
  'lightpink': '#ffb6c1',
  'lightsalmon': '#ffa07a',
  'lightseagreen': '#20b2aa',
  'lightskyblue': '#87cefa',
  'lightslategray': '#778899',
  'lightslategrey': '#778899',
  'lightsteelblue': '#b0c4de',
  'lightyellow': '#ffffe0',
  'lime': '#00ff00',
  'limegreen': '#32cd32',
  'linen': '#faf0e6',
  'magenta': '#ff00ff',
  'maroon': '#800000',
  'mediumaquamarine': '#66cdaa',
  'mediumblue': '#0000cd',
  'mediumorchid': '#ba55d3',
  'mediumpurple': '#9370db',
  'mediumseagreen': '#3cb371',
  'mediumslateblue': '#7b68ee',
  'mediumspringgreen': '#00fa9a',
  'mediumturquoise': '#48d1cc',
  'mediumvioletred': '#c71585',
  'midnightblue': '#191970',
  'mintcream': '#f5fffa',
  'mistyrose': '#ffe4e1',
  'moccasin': '#ffe4b5',
  'navajowhite': '#ffdead',
  'navy': '#000080',
  'oldlace': '#fdf5e6',
  'olive': '#808000',
  'olivedrab': '#6b8e23',
  'orange': '#ffa500',
  'orangered': '#ff4500',
  'orchid': '#da70d6',
  'palegoldenrod': '#eee8aa',
  'palegreen': '#98fb98',
  'paleturquoise': '#afeeee',
  'palevioletred': '#db7093',
  'papayawhip': '#ffefd5',
  'peachpuff': '#ffdab9',
  'peru': '#cd853f',
  'pink': '#ffc0cb',
  'plum': '#dda0dd',
  'powderblue': '#b0e0e6',
  'purple': '#800080',
  'rebeccapurple': '#663399',
  'red': '#ff0000',
  'rosybrown': '#bc8f8f',
  'royalblue': '#4169e1',
  'saddlebrown': '#8b4513',
  'salmon': '#fa8072',
  'sandybrown': '#f4a460',
  'seagreen': '#2e8b57',
  'seashell': '#fff5ee',
  'sienna': '#a0522d',
  'silver': '#c0c0c0',
  'skyblue': '#87ceeb',
  'slateblue': '#6a5acd',
  'slategray': '#708090',
  'slategrey': '#708090',
  'snow': '#fffafa',
  'springgreen': '#00ff7f',
  'steelblue': '#4682b4',
  'tan': '#d2b48c',
  'teal': '#008080',
  'thistle': '#d8bfd8',
  'tomato': '#ff6347',
  'turquoise': '#40e0d0',
  'violet': '#ee82ee',
  'wheat': '#f5deb3',
  'white': '#ffffff',
  'whitesmoke': '#f5f5f5',
  'yellow': '#ffff00',
  'yellowgreen': '#9acd32'})

In [222]:
list(colores.items())

[('aliceblue', '#f0f8ff'),
 ('antiquewhite', '#faebd7'),
 ('aqua', '#00ffff'),
 ('aquamarine', '#7fffd4'),
 ('azure', '#f0ffff'),
 ('beige', '#f5f5dc'),
 ('bisque', '#ffe4c4'),
 ('black', '#000000'),
 ('blanchedalmond', '#ffebcd'),
 ('blue', '#0000ff'),
 ('blueviolet', '#8a2be2'),
 ('brown', '#a52a2a'),
 ('burlywood', '#deb887'),
 ('cadetblue', '#5f9ea0'),
 ('chartreuse', '#7fff00'),
 ('chocolate', '#d2691e'),
 ('coral', '#ff7f50'),
 ('cornflowerblue', '#6495ed'),
 ('cornsilk', '#fff8dc'),
 ('crimson', '#dc143c'),
 ('cyan', '#00ffff'),
 ('darkblue', '#00008b'),
 ('darkcyan', '#008b8b'),
 ('darkgoldenrod', '#b8860b'),
 ('darkgray', '#a9a9a9'),
 ('darkgreen', '#006400'),
 ('darkgrey', '#a9a9a9'),
 ('darkkhaki', '#bdb76b'),
 ('darkmagenta', '#8b008b'),
 ('darkolivegreen', '#556b2f'),
 ('darkorange', '#ff8c00'),
 ('darkorchid', '#9932cc'),
 ('darkred', '#8b0000'),
 ('darksalmon', '#e9967a'),
 ('darkseagreen', '#8fbc8f'),
 ('darkslateblue', '#483d8b'),
 ('darkslategray', '#2f4f4f'),
 ('darkslategrey', '#2f4f4f'),
 ('darkturquoise', '#00ced1'),
 ('darkviolet', '#9400d3'),
 ('deeppink', '#ff1493'),
 ('deepskyblue', '#00bfff'),
 ('dimgray', '#696969'),
 ('dimgrey', '#696969'),
 ('dodgerblue', '#1e90ff'),
 ('firebrick', '#b22222'),
 ('floralwhite', '#fffaf0'),
 ('forestgreen', '#228b22'),
 ('fuchsia', '#ff00ff'),
 ('gainsboro', '#dcdcdc'),
 ('ghostwhite', '#f8f8ff'),
 ('goldenrod', '#daa520'),
 ('gold', '#ffd700'),
 ('gray', '#808080'),
 ('green', '#008000'),
 ('greenyellow', '#adff2f'),
 ('grey', '#808080'),
 ('honeydew', '#f0fff0'),
 ('hotpink', '#ff69b4'),
 ('indianred', '#cd5c5c'),
 ('indigo', '#4b0082'),
 ('ivory', '#fffff0'),
 ('khaki', '#f0e68c'),
 ('lavenderblush', '#fff0f5'),
 ('lavender', '#e6e6fa'),
 ('lawngreen', '#7cfc00'),
 ('lemonchiffon', '#fffacd'),
 ('lightblue', '#add8e6'),
 ('lightcoral', '#f08080'),
 ('lightcyan', '#e0ffff'),
 ('lightgoldenrodyellow', '#fafad2'),
 ('lightgray', '#d3d3d3'),
 ('lightgreen', '#90ee90'),
 ('lightgrey', '#d3d3d3'),
 ('lightpink', '#ffb6c1'),
 ('lightsalmon', '#ffa07a'),
 ('lightseagreen', '#20b2aa'),
 ('lightskyblue', '#87cefa'),
 ('lightslategray', '#778899'),
 ('lightslategrey', '#778899'),
 ('lightsteelblue', '#b0c4de'),
 ('lightyellow', '#ffffe0'),
 ('lime', '#00ff00'),
 ('limegreen', '#32cd32'),
 ('linen', '#faf0e6'),
 ('magenta', '#ff00ff'),
 ('maroon', '#800000'),
 ('mediumaquamarine', '#66cdaa'),
 ('mediumblue', '#0000cd'),
 ('mediumorchid', '#ba55d3'),
 ('mediumpurple', '#9370db'),
 ('mediumseagreen', '#3cb371'),
 ('mediumslateblue', '#7b68ee'),
 ('mediumspringgreen', '#00fa9a'),
 ('mediumturquoise', '#48d1cc'),
 ('mediumvioletred', '#c71585'),
 ('midnightblue', '#191970'),
 ('mintcream', '#f5fffa'),
 ('mistyrose', '#ffe4e1'),
 ('moccasin', '#ffe4b5'),
 ('navajowhite', '#ffdead'),
 ('navy', '#000080'),
 ('oldlace', '#fdf5e6'),
 ('olive', '#808000'),
 ('olivedrab', '#6b8e23'),
 ('orange', '#ffa500'),
 ('orangered', '#ff4500'),
 ('orchid', '#da70d6'),
 ('palegoldenrod', '#eee8aa'),
 ('palegreen', '#98fb98'),
 ('paleturquoise', '#afeeee'),
 ('palevioletred', '#db7093'),
 ('papayawhip', '#ffefd5'),
 ('peachpuff', '#ffdab9'),
 ('peru', '#cd853f'),
 ('pink', '#ffc0cb'),
 ('plum', '#dda0dd'),
 ('powderblue', '#b0e0e6'),
 ('purple', '#800080'),
 ('rebeccapurple', '#663399'),
 ('red', '#ff0000'),
 ('rosybrown', '#bc8f8f'),
 ('royalblue', '#4169e1'),
 ('saddlebrown', '#8b4513'),
 ('salmon', '#fa8072'),
 ('sandybrown', '#f4a460'),
 ('seagreen', '#2e8b57'),
 ('seashell', '#fff5ee'),
 ('sienna', '#a0522d'),
 ('silver', '#c0c0c0'),
 ('skyblue', '#87ceeb'),
 ('slateblue', '#6a5acd'),
 ('slategray', '#708090'),
 ('slategrey', '#708090'),
 ('snow', '#fffafa'),
 ('springgreen', '#00ff7f'),
 ('steelblue', '#4682b4'),
 ('tan', '#d2b48c'),
 ('teal', '#008080'),
 ('thistle', '#d8bfd8'),
 ('tomato', '#ff6347'),
 ('turquoise', '#40e0d0'),
 ('violet', '#ee82ee'),
 ('wheat', '#f5deb3'),
 ('white', '#ffffff'),
 ('whitesmoke', '#f5f5f5'),
 ('yellow', '#ffff00'),
 ('yellowgreen', '#9acd32')]

In [240]:
pd.DataFrame.from_dict(colores ,  orient = 'index',columns = ['gello2'])

               gello2
aliceblue     #f0f8ff
antiquewhite  #faebd7
aqua          #00ffff
aquamarine    #7fffd4
azure         #f0ffff
...               ...
wheat         #f5deb3
white         #ffffff
whitesmoke    #f5f5f5
yellow        #ffff00
yellowgreen   #9acd32

[148 rows x 1 columns]

In [252]:
import pandas as pd
colores_df = pd.DataFrame( list(colores.items()), columns =['color','code'] )
colores_df

            color     code
0       aliceblue  #f0f8ff
1    antiquewhite  #faebd7
2            aqua  #00ffff
3      aquamarine  #7fffd4
4           azure  #f0ffff
..            ...      ...
143         wheat  #f5deb3
144         white  #ffffff
145    whitesmoke  #f5f5f5
146        yellow  #ffff00
147   yellowgreen  #9acd32

[148 rows x 2 columns]

In [253]:
colores_df.style.applymap(lambda x:"background-color:%s"%x,subset=['code'])

/var/folders/rf/p3w01vvd28zdm0mgz46w00b80000gn/T/ipykernel_6619/525219085.py:1: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  colores_df.style.applymap(lambda x:"background-color:%s"%x,subset=['code'])

Otras funciones:  
`FTP.getwelcome()` – Obtiene el mensaje de bienvenida.  
`FTP.mkd(ruta)` – Crea un directorio, se le pasa como argumento de entrada la ruta.  
`FTP.rmd(ruta)` – Elimina el directorio que le pasemos.  
`FTP.delete(fichero)` – Elimina el fichero que le pasamos como parámetro de entrada.  
`FTP.pwd()` – (Print Working Directory) Devuelve el directorio actual donde se encuentra.  
`FTP.cwd(ruta)` – (Change Working Directory) Cambia de directorio.  
`FTP.dir(ruta)` – Devuelve un listado de directorios.  
`FTP.nlst(ruta)` – Devuelve un listado con los nombres de arcivo del directorio.  
`FTP.size(archivo)` – Devuelve el tamaño del fichero que le pasamos.  
`FTP.rename(oringen, destino)` – Renombra un fichero.