# Ingeniería de atributos

Consiste en construir nuevos predictores basándonos en los existentes, que potencialmente ayuden al modelo a predecir la variable objetivo (tengan buena capacidad predictiva para el problema)

In [9]:
import pandas as pd
from datetime import datetime

df = pd.DataFrame({"importe_total": [1200, 1500, 1600, 3000],
                   "noches": [3, 2, 5, 7],
                   "numero_personas": [3, 2, 1, 5],
                   "estrellas": [3, 5, 2, 1]})

In [10]:
df

   importe_total  noches  numero_personas  estrellas
0           1200       3                3          3
1           1500       2                2          5
2           1600       5                1          2
3           3000       7                5          1

In [11]:
df['importe_por_persona'] = df.importe_total / df.numero_personas
df['importe_por_noche'] = df.importe_total / df.noches
df['importe_por_persona_por_noche'] = df.importe_total  / df.numero_personas / df.noches
df['importe_por_persona_por_noche_por_estrella'] = (df.importe_total  / df.numero_personas 
                                                    / df.noches / df.estrellas)

In [12]:
df

,importe_total,noches,numero_personas,estrellas,importe_por_persona,importe_por_noche,importe_por_persona_por_noche,importe_por_persona_por_noche_por_estrella
0,1200,3,3,3,400.0,400.000000,133.333333,44.444444
1,1500,2,2,5,750.0,750.000000,375.000000,75.000000
2,1600,5,1,2,1600.0,320.000000,320.000000,160.000000
3,3000,7,5,1,600.0,428.571429,85.714286,85.714286