# Examen - Módulo de Nivelación Python

## Ejercicio 1

<b>Enunciado:</b> Trabajas en un campamento de verano de futbol y necesitas preparar los entrenamientos. Para cada entrenamiento necesitas crear equipos de 5 personas ya que están jugando a futbol sala, adicionalmente necesitas que el número de equipos sea par para que se puedan entrenar entre ellos.<br> Los organizadores y tu estáis buscando alojamiento y habéis hablado con varios hoteles, te han pasado el número de personas que pueden alojarse en cada uno de ellos, este número es el que está guardado en la lista `plazas_hotel`

In [1]:
plazas_hotel = [34, 65, 45, 40, 41, 65, 27, 58, 67, 39]

<b>Ejercicio 1.A:</b> Iterar en la lista plazas_hotel y comprobar si el número es multiplo de 5, en caso de serlo hacer un print que sea 'El número X es multiple de 5' donde X es el número que hemos validado. Añadir este valor en una lista llamada `second_priority`<br> En el resto de los casos  hacer un print de 'El número X no nos interesa'</div>

In [2]:
second_priority = [ ]

for i in plazas_hotel :
    if i % 5 == 0 :
        print( 'El número {} es multiplo de 5'.format(i) ) 
        second_priority.append ( i )

    else :
        print( 'El número {} no nos interesa'.format (i) )

print('\nLista de múltiplos de 5: {}'.format(second_priority))

El número 34 no nos interesa
El número 65 es multiplo de 5
El número 45 es multiplo de 5
El número 40 es multiplo de 5
El número 41 no nos interesa
El número 65 es multiplo de 5
El número 27 no nos interesa
El número 58 no nos interesa
El número 67 no nos interesa
El número 39 no nos interesa

Lista de múltiplos de 5: [65, 45, 40, 65]

<b>Ejercicio 1.B:</b> Utilizando el mismo código anterior, añadir otra expresión condicional que compruebe que el número es multiplo de 5 y tambien es multiplo de dos. Si se sumplen ambas condiciones hacemos un print de 'El número X cumple todos nuestros requisitos' y almacenamos el número en la lista `top_results`.</div>

In [3]:
second_priority = [ ]
top_results = [ ]

for i in plazas_hotel :
    if i % 5 == 0 : 
        print( 'El número {} es multiplo de 5'.format(i) ) 
        second_priority.append ( i )
        
        if i % 2 == 0 :
          print ( 'El número {} también es múltiplo de 2, por lo que cumple todos nuestros requisitos'.format(i) )
          top_results.append ( i )


    else :
        print( 'El número {} no nos interesa'.format (i) )

print('\nLista de múltiplos de 5: {}'.format(second_priority))
print('\nLista de múltiplos de 5 y 2 : {}'.format(top_results))

El número 34 no nos interesa
El número 65 es multiplo de 5
El número 45 es multiplo de 5
El número 40 es multiplo de 5
El número 40 también es múltiplo de 2, por lo que cumple todos nuestros requisitos
El número 41 no nos interesa
El número 65 es multiplo de 5
El número 27 no nos interesa
El número 58 no nos interesa
El número 67 no nos interesa
El número 39 no nos interesa

Lista de múltiplos de 5: [65, 45, 40, 65]

Lista de múltiplos de 5 y 2 : [40]

## Ejercicio 2

<b>Enunciado:</b> Crear una función que pase de grados Fahrenheit a Celsius o de Celsius a Fahrenheit. La función debe contener los siguientes parámetros:
    <ul>
        <li> int: `valor` - Valor númerico que queremos transformar</li>
        <li> bool: `fah_to_cel` - En caso de ser verdadero la función convertira de grados Fahrenheit a Celsius en caso negativo hará la transformación inversa. Este parámetro tendrá un valor por defecto de `True`</li>
    </ul>

La fórmula es la siguiente:

![image.png]()

In [4]:
def temperature_units (valor:int, fah_to_cel:bool = True ):

    if fah_to_cel == True:

        result = (valor-32) * 5 / 9

    elif fah_to_cel == False:

        result = (valor * 9 / 5) +32

    return result


 # Hacemos varias querys a la función para saber si lo hace bien:

print('temperatura de 100 fahrenheit: ', temperature_units(100), 'celsius' )            # de forma estándar es de C --> F
print('temperatura de 100 fahrenheit: ', temperature_units(100, True ), 'celsius' )      # con parámetro True es de C --> F
resultado = temperature_units(100)

print('hacemos operación inversa para convertir de nuevo farehnheit a celsius, 37.77777777777778 celsius son :', temperature_units(resultado, False ), 'farenheit' )

temperatura de 100 fahrenheit:  37.77777777777778 celsius
temperatura de 100 fahrenheit:  37.77777777777778 celsius
hacemos operación inversa para convertir de nuevo farehnheit a celsius, 37.77777777777778 celsius son : 100.0 farenheit

## Ejercicio 3

<b>Enunciado:</b> En `mis_acciones` tenemos la información sobre las empresas que hemos invertido, el número de acciones y el precio de compra. A continuación tenemos la respuesta de la API de Bloomberg que nos devuelve la información en tiempo real de los precios.</div>

In [5]:
mis_acciones = {
    'tesla': {
        'cantidad': 23,
        'precio': 746
    },
    'endesa':{
        'cantidad': 78,
        'precio': 20.10
    },
    'santander': {
        'cantidad': 45,
        'precio': 2.94
    }
}

mis_acciones

{'tesla': {'cantidad': 23, 'precio': 746},
 'endesa': {'cantidad': 78, 'precio': 20.1},
 'santander': {'cantidad': 45, 'precio': 2.94}}

In [6]:
bloomberg_api = {
'api_response_status': 'success',
'timestamp': 1636388303,
'results':{
        'tesla':
           {'precio_actual': 948}
        ,
        'telefonica':
           {'precio_actual': 2.9}
        ,
        'aena':
           {'precio_actual': 124.8}
        ,
        'caixabank':
           {'precio_actual': 1.63}
        ,
        'endesa':
           {'precio_actual': 24.6}
        ,
        'iag':
           {'precio_actual' :1.189}
        ,
        'amazon':
           {'precio_actual': 3241}
        ,
        'santander':
           {'precio_actual': 3.19}
    }
}

bloomberg_api

{'api_response_status': 'success',
 'timestamp': 1636388303,
 'results': {'tesla': {'precio_actual': 948},
  'telefonica': {'precio_actual': 2.9},
  'aena': {'precio_actual': 124.8},
  'caixabank': {'precio_actual': 1.63},
  'endesa': {'precio_actual': 24.6},
  'iag': {'precio_actual': 1.189},
  'amazon': {'precio_actual': 3241},
  'santander': {'precio_actual': 3.19}}}

<b>Ejercicio 3.A:</b> Que tipo de variable es 'bloomberg_api'
   <br> - Para esta y las siguientes preguntas utilizar las funciones de Python para identificar el tipo de variables
</div>

In [7]:
print('el tipo de variable bloomberg_api es:')
type(bloomberg_api)

el tipo de variable bloomberg_api es:

dict

<b>Ejercicio 3.B:</b> Hacer un print de las keys</div>

In [8]:
print('las keys en bloomberg_api son:')
list(bloomberg_api.keys())

las keys en bloomberg_api son:

['api_response_status', 'timestamp', 'results']

<b>Ejercicio 3.C:</b> Que tipo de 'value' tenemos en la key 'results'</div>

In [9]:
print('el tipo de value en la key results es:')
type(bloomberg_api['results'])

el tipo de value en la key results es:

dict

<b>Ejercicio 3.D:</b> Cuantos elementos tenemos en la key 'results'</div>

In [10]:
print('número de elementos:', len( bloomberg_api['results'] ) )
bloomberg_api['results']

número de elementos: 8

{'tesla': {'precio_actual': 948},
 'telefonica': {'precio_actual': 2.9},
 'aena': {'precio_actual': 124.8},
 'caixabank': {'precio_actual': 1.63},
 'endesa': {'precio_actual': 24.6},
 'iag': {'precio_actual': 1.189},
 'amazon': {'precio_actual': 3241},
 'santander': {'precio_actual': 3.19}}

<b>Ejercicio 3.E:</b> Hacer un print de las keys</div>

In [11]:
# Este apartado es igual que el del ejercicio 3.B. Imagino que esta vez se refiere a sacar las keys de 'results'

print('las keys en results son:')
list(bloomberg_api['results'].keys())

las keys en results son:

['tesla',
 'telefonica',
 'aena',
 'caixabank',
 'endesa',
 'iag',
 'amazon',
 'santander']

<b>Ejercicio 3.F:</b> Hacer un código que compruebe que si un elemento del diccionario 'mis_acciones' esté en esta respuesta, imprima el nombre y el precio actual de la accion.</div>

In [12]:

# Función que toma como parámetro el diccionario de tus acciones y te comprueba su valor actual en el mercado

def check_mis_acciones (acciones):

   for i in bloomberg_api['results']:
    
       if i in mis_acciones:
         
          print('\n --->',i, 'está en mis acciones')
          print('descripcion de mi acción:', mis_acciones[i] )
          print('precio actual: ', bloomberg_api['results'][i]['precio_actual'])

   return


# Corremos función indroduciendo el diccionario de nuestras acciones:
acciones = mis_acciones
check_mis_acciones (acciones)

 ---> tesla está en mis acciones
descripcion de mi acción: {'cantidad': 23, 'precio': 746}
precio actual:  948

 ---> endesa está en mis acciones
descripcion de mi acción: {'cantidad': 78, 'precio': 20.1}
precio actual:  24.6

 ---> santander está en mis acciones
descripcion de mi acción: {'cantidad': 45, 'precio': 2.94}
precio actual:  3.19

<b>Ejercicio 3.G:</b> Hacer un código que imprima por pantalla el beneficio que hemos obtenido de cada empresa y almacena el resultado como un diccionario que contiene:
<br> - clave: el nombre de la acción
<br> - valor: el beneficio obtenido.
<br>Además a este diccionario incluir también una clave llamada 'total' con el beneficio total obtenido.</div>

In [13]:
# Introduces como parámetros tus acciones y te saca el beneficio desglosado por cada empresa, y del beneficio total
# El beneficio se almacena en la key 'valor'

def beneficio(dicc_acciones):

    dicc_acciones_tiempo_real = bloomberg_api
    dicc_benef = { }
    lista_beneficio_total=[]

    for i in mis_acciones:

        beneficio = ( dicc_acciones_tiempo_real['results'][i]['precio_actual'] - dicc_acciones[i]['precio'] ) * dicc_acciones[i]['cantidad'] # diferencia de precio de la acción x nº de acciones que poseemos
        print (' beneficio de {} es: {} ' .format(i,beneficio))
        lista_beneficio_total.append(beneficio)
        dicc_benef.update ( { i : { 'valor': beneficio }  } )

    # Una vez iteramos sobre todas nuestras acciones, sumamos los beneficios individuales
    beneficio_total = sum(lista_beneficio_total)
    dicc_benef.update ( {'total' : { 'valor': beneficio_total } } )

    return dicc_benef

# Corremos función introduciendo el diccionario de nuestras acciones
dicc_acciones = mis_acciones
beneficio(dicc_acciones)

 beneficio de tesla es: 4646
 beneficio de endesa es: 351.0
 beneficio de santander es: 11.25

{'tesla': {'valor': 4646},
 'endesa': {'valor': 351.0},
 'santander': {'valor': 11.25},
 'total': {'valor': 5008.25}}